Library/src/main/app/library.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <mongo:config name="Mongo_DB" database="mulesoft" doc:name="Mongo DB"/>
    <flow name="listBooks">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/book" allowedMethods="GET" doc:name="HTTP"/>
        <component class="library.ListBook" doc:name="Java"/>
        <json:object-to-json-transformer returnClass="java.lang.String" doc:name="Object to JSON"/>
        <logger message="   Request made by: #[message.inboundProperties.username]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="createBook">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/book" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="library.Book" encoding="ISO-8859-6" doc:name="JSON to Object"/>
        <component class="library.CreateBook" doc:name="Java"/>
        <logger message="   Request made by: #[message.inboundProperties.username]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="updateById">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/book" doc:name="HTTP" allowedMethods="PUT"/>
        <json:json-to-object-transformer returnClass="library.Book" doc:name="JSON to Object"/>
        <component class="library.UpdateById" doc:name="Java"/>
        <logger message="   Request made by: #[message.inboundProperties.username]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="deleteteById">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/book" allowedMethods="DELETE" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.id]" doc:name="Set Payload"/>
        <component doc:name="Java" class="library.DeleteById"/>
        <logger message="   Request made by: #[message.inboundProperties.username]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="findByName">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/book/find" allowedMethods="POST" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Set Payload"/>
        <component class="library.FindByName" doc:name="Java"/>
        <logger message="   Request made by: #[message.inboundProperties.username]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
